doctype html
html(lang="en")
  head
    title Login
  body
  p.
    Log in the OAuth2 server.
  form(action='http://sentinelnetworks.io:9090/oauth2/login', method='POST')
    p.
      Username 
    input(type='text' name='username')
    p.
      Password 
    input(type='password' name='password')
    input(type='hidden' name='client_id' value=client_id)
    input(type='hidden' name='redirect_uri' value=redirect_uri)
    input(type='hidden' name='response_type' value=response_type)
    p.
    input(type='submit' name='submit')
    if code_challenge
      input(type='hidden' name='code_challenge' value=code_challenge)
    